/* Hide latest-videos-footer, if the video grid is empty.
   Helps things break "gracefully" when resizing the window. */
#latest-videos:empty + .latest-videos-footer {
  display: none; 
}

/* Style the latest-videos grid */
#latest-videos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

@media (min-width: 650) {
  #latest-videos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  #latest-videos {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Hide some stuff we don't need when using Discord chat */
#chat-input, .ant-dropdown-menu, #user-menu > span:nth-child(3){
  display: none;
}
